.VPHome {
  // 自定义首页背景图
  &::before {
    // 图片来源：https://zhuanlan.zhihu.com/p/54060187
    background-image: url(./assets/bg.webp);
    background-size: cover;
    // background-color: rgb(10, 10, 11);
    // background-image: url("/grid.svg");
  }
  // 定义遮罩样式
  background: radial-gradient(
    ellipse,
    rgba(var(--bg-gradient-home), 1) 0%,
    rgba(var(--bg-gradient-home), 0) 150%
  );
}

.theme-blog-popover-close{
  display: none !important;
}

// 折叠 sidebar动画
.VPSidebarItem .items {
  display: flex;
  flex-direction: column;
}
.VPSidebarItem.collapsed .items {
  display: flex !important;
}
.VPSidebarItem .items > div {
  flex: 0 0 auto;
  transition: flex-basis 0.5s ease, opacity 0.3s;
  will-change: transform;
  opacity: 1;
}
.VPSidebarItem.collapsed .items > div {
  flex: 0 1 0;
  opacity: 0;
  overflow: hidden;
}